<%- include('./includes/header') %>

  <div class="main-container">
    <div class="landing-page">
      <img class="top-img" alt="Top Image" src="/assets/images/kelloggs_logo.png">
      <img src="/assets/images/logo.png" alt="chocos Logo" class="chocos-logo">
      <img src="/assets/images/monkey.png" alt="monkey img" class="monkey-img">
      <div class="hand-card-board">
        <img src="/assets/images/handCardBoard/choco_caramel.png" alt="product img" class="hand-card-board-img">
      </div>
      <div class="bottom-container">

        <div class="text-box">
          <h2>Coco is Here to Upgrade Your Morning!</h2>
          <p>Scan, watch and learn which breakfast fuels you better</p>
          <button class="start-btn">Start Experience</button>
        </div>

      </div>
    </div>
 <div class="menu-page">
      <img class="top-img" alt="Top Image" src="/assets/images/kelloggs_logo.png">
     
          <div class="yellow-card">

        <h2>Select your Breakfast</h2>
        <p>Scroll left or right to select one breakfast</p>



<div class="container">
  <div class="card-carousel">
    <div class="card" id="1">
      <img class="image-container" src="https://static.addtoany.com/images/dracaena-cinnabari.jpg">
      <p>Lorem</p>
    </div>
    <div class="card" id="2">
      <img class="image-container">
      <p>Lorem</p>
    </div>
    <div class="card" id="3">
       <img class="image-container">
      <p>Lorem</p>
    </div>  
    <div class="card" id="4">
      <img class="image-container">
      <p>Lorem</p>
    </div>
    <div class="card" id="5">
       <img class="image-container">
      <p>Lorem</p>
    </div>
  </div>
  
</div>


        <!-- BUTTON -->
        <button class="start-btn">Start Experience</button>

    </div>

    </div>


  </div>
  <%- include('./includes/footer') %>