<!doctype html>
<html lang="en">
<head>


<!-- ⛔ MUST BE FIRST FOR SPLASH SCREEN TO WORK -->


<link rel="stylesheet" href="../styles/old.css" />


</head>

<body>

<div id="landing-page" class="xrweb-landing-page"></div>

<!-- UI SCREEN -->
<h1>CSS only carousel using <code>::scroll-*</code> [demo 2]</h1>
<p class="msg-supports">Sorry, your browser doesn't support <code>::scroll-*</code></p>

<section class="carousel">

  <div class="scroll-start">
    <h2>Raymond McKenzie</h2>
    <p>CEO</p>
    <div class="img"><img src="https://i.pravatar.cc/400?img=53" /></div>
  </div>

  <div>
    <h2>Elizabeth Turner</h2>
    <p>Marketing Director</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=5" /></div>
  </div>

  <div>
    <h2>Suzanne Yorke</h2>
    <p>Creative Director</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=44" /></div>
  </div>
<div>
    <h2>Elizabeth Turner</h2>
    <p>Marketing Director</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=5" /></div>
  </div>
  <div>
    <h2>Simon Hadley</h2>
    <p>Social Media & Networking</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=12" /></div>
  </div>
<div>
    <h2>Elizabeth Turner</h2>
    <p>Marketing Director</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=5" /></div>
  </div>
  <div>
    <h2>Harriet Johnson</h2>
    <p>Front-End Developer</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=27" /></div>
  </div>
<div>
    <h2>Elizabeth Turner</h2>
    <p>Marketing Director</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=5" /></div>
  </div>
  <div>
    <h2>Elizabeth Turner</h2>
    <p>Marketing Director</p>
    <div class="img"><img src="https://i.pravatar.cc/300?img=5" /></div>
  </div>
</section>


</body>
</html>
