<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.5/dist/mindar-image-aframe.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.0.0/dist/mindar-image-aframe.prod.js"></script>
  </head>

  <body>
    <a-scene
      mindar-image="imageTargetSrc: assets/images/targets.mind; autoStart: true;
      filterMinCF: 0.0001; filterBeta: 0.05; warmupTolerance: 5; missTolerance: 20;
      maxTrack: 1; uiEnabled: false; smoothed: true;"
      embedded
      vr-mode-ui="enabled: false"
      renderer="precision: mediump;"
      loading-screen="enabled: false"
    >
      <a-assets>
        <a-asset-item id="avatarModel" src="assets/images/anim1.glb"></a-asset-item>
      </a-assets>

      <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>

      <!-- Target -->
      <a-entity id="target1" mindar-image-target="targetIndex: 0">
        <a-gltf-model
          id="avatar"
          src="#avatarModel"
          position="0 -0.5 0"
          scale="0.5 0.5 0.5"
          modify-materials="" animation-mixer="" gltf-model=""
        ></a-gltf-model>
      </a-entity>
    </a-scene>

    <script>
    //   // iOS FIX – manually start animation on targetFound
    //   const target = document.querySelector("#target1");
    //   const model = document.querySelector("#avatar");

    //   target.addEventListener("targetFound", () => {
    //     console.log("Target Found → Play Animation");
    //     model.components["animation-mixer"].stopAction();
    //     model.components["animation-mixer"].playAction(); // FOR iOS
    //   });

    //   target.addEventListener("targetLost", () => {
    //     console.log("Target Lost → Stop Animation");
    //     model.components["animation-mixer"].stopAction();
    //   });
    </script>
  </body>
</html>
