@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: rgba(122, 22, 0, 1);
    font-family: "Raleway";
   
}
/* .xrextras-loading {
  display: none !important;
} */
#myCustomImages{
   background-color: #101118;
       width: 100vw;
    height: 100dvh;
}
h2 {
    font-size: 1rem;
    font-weight: 900;
    padding: 0.5rem 0rem;
}

p {
    width: 90%;
    font-size: 1rem;
    font-weight: 600;
    margin: auto
}

.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
    display: none;

}
.main-top-img {
    width: 36vw;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}
.landing-page   {
    position: absolute;
    height: 100dvh;
    width: 100vw;
    max-width: 33.75rem;
    background-image: url(/assets/images/Brown_bg.png);
    background-size: cover;
    background-position: top;
    margin: auto;
    background-repeat: no-repeat;
    display: none;
    visibility: visible;
    opacity: 1;
    transition: all 500ms ease-in-out;
    z-index: 10;
}

.top-img {
    width: 100vw;   
}

.chocos-logo {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
}
.monkey-img{   
    left: -1.5rem;
    top: 18%;
    position: absolute;
    width: 45%;
}
.hand-card-board{
        position: absolute;
    bottom: 48dvh;
    right: 0;
}

.bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/assets/images/Crunchy.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.start-btn {
        width: 60%;
    background: #ff0000;
    color: #fff;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'poppins';
    font-weight: bold;
    margin-top: 0.5rem;
    box-shadow: 0px 3.97px 3.97px 0px rgba(0, 0, 0, 0.35);


}

.text-box {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: auto;
}
.product-img{
    width: 95%;
    margin-top: -18vh;
}
@media only screen and (max-width: 376px) {
    h2,p{
        width: 100%;
        font-size: 0.8rem;
    }
    .hand-card-board {
        bottom: 48%;
    }
    .hand-card-board-img{
        width: 80%;
    }
   .bottom-container{
      background-image: url(/assets/images/Crunchy.png);
      height: 100%;
   }
   .text-box{
    bottom: 1rem;
   }
}
@media only screen and (max-width: 346px) {
    .bottom-container {
        background-image: url(/assets/images/Crunchy.png);
        height: 111%;
    }
}
.menu-page {
    position: relative;
    height: 100dvh;
    width: 100vw;
    display: none;
    visibility: visible;
    opacity: 1;
     transition: all 500ms ease-in-out;
    z-index: 9;
}
.yellow-card {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: max-content;
    background-color: rgba(251, 229, 0, 1);
    /* background-image:url('../assets/images/menu_bg.png'); */
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
     border-width: 4px 4px 0px 4px;
  border-style: solid;
  border-color: white;
    text-align: center;
    padding: 0rem 0 1rem 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: none;
        left: 0;
    margin: auto;
        right: 0;
        box-shadow: 7.46px 15.86px 3.73px 0px rgba(0, 0, 0, 0.25);

}

.menu-card-heading h2 {
    font-size: 1.2rem;
    padding-top: 2dvh;
    color: #ffffff;
}

.menu-card-heading p {
    font-size: 13px;
    margin-bottom: 0.6rem;
        color: #ffffff;

}


.container {
  /* height: 20dvh; */
  /* overflow: hidden; */
}

/* MAIN CAROUSEL */
.card-carousel {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  transition: filter .3s ease;
  height: 116.35px;
  margin-bottom: 1rem;
  
}
.card-carousel {
  touch-action: pan-y;
}

.card {
  position: absolute;
   z-index: 10;
  top: 0;
  left: 50%;
  transform-origin: center center;
  /* Added 'top' to transitions for smooth arc movement */
  transition: transform 0.2s ease-out, 
              opacity 0.2s ease-out,
              left 0.2s ease-out,
              right 0.2s ease-out,
              top 0.2s ease-out,
              z-index 0s;
  will-change: transform, opacity, left, right, top;
  background: whitesmoke;
      width: 25%;
    min-width: 88px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 1em;
}

/* Smoother snap-back animation with custom easing */
.card-carousel.smooth-return .card {
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
              opacity 0.4s ease-out,
              left 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
              right 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
              top 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
              z-index 0s;
}
/* CARD STYLE */
.card img{
  width: 100%
}

/* ACTIVE CENTER CARD */
.card.highlight {
  filter: brightness(1);
}

/* IMAGE CIRCLE */
.image-container {
  width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-bottom: 0.5em;
     margin-top: 0.5em;
}
.active{
   border: 4px solid rgb(255, 0, 0);
}
.active-box {
   position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 120px;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  border: 2px solid rgb(255, 0, 0);
   box-shadow: 0 0 0 2px #ff0000, 0 4px 8px rgba(0, 0, 0, 0.3) ;
  background: transparent;
  z-index: 8;
  pointer-events: none;
  opacity: 1;
}
.active-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



 .active-boxstyle{
      height: 125px;
    width: 20%;
    min-width: 90px;
    margin: -0.6rem auto;
    position: absolute;
    top: 0;
   color: rgb(255 255 255 / 50%);    
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: auto;
    right: auto;
    pointer-events: auto;
    opacity: 1;
    transform: scale(0.9);
    left: 0%;
    right: 0%;
    z-index: 50;
    border: 4px solid rgb(235 222 0 / 50%);
    box-shadow: 0 0 0 3px #ff0000, 0 4px 8px rgba(0, 0, 0, 0.3) ;
}
.center-box-shadow{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}


.comparison-page{
  position: relative;
    height: 100dvh;
    width: 100vw;
    display: none;
    visibility: visible;
    opacity: 1;
     transition: all 500ms ease-in-out;
    z-index: 8;
}

.compare-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: max-content;
    /* background-image:url('../assets/images/menu_bg.png'); */
    background-color: rgba(251, 229, 0, 1);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
     border-width: 4px 4px 0px 4px;
  border-style: solid;
  border-color: white;
    text-align: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 0;
}
.compare-box {
     width: 95%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}



.item {
  width: 250px;
  height: 120px;
  display: inline-block;
  background: #fff;
  margin-right: 20px;
}



/* TOP SECTION */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin-bottom: 0.8rem;
}

.food {
  text-align: center;
}
.top-food{
      width: 50%;
    margin-top: 2dvh;
}
.food img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /* border: 5px solid #ffffff; */
  object-fit: cover;
}

.food p {
     /* margin-top: -1rem; */
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #FF3B3B;
    color: #FF3B3B;
    background: #dcd0d0;
}
.right-food p,.left-food P{
  width: 7rem;
}
/* VS BOX */
.vs-box {
  /* background: #fff3c5;
  border: 3px solid #8e5f20; */
  /* border-radius: 12px; */
  padding: 5px 12px;
  font-size: 20px;
  font-weight: 700;
}
#scene{
  display: none;
}
.vs-box img {
      width: 4rem;
    height: 4rem;
    /* border-radius: 50%; */
    /* border: 5px solid #ffffff; */
    object-fit: cover;
}
/* TABLE */
.table-box {
  margin-top: 0px;
  background: rgba(214, 21, 63, 1);
  border-radius: 16px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
 border: 1px solid white;
}

.table-box .col p,
.table-box .center-col p {
  margin: 5px 0;
  font-size: 0.8rem;
}
.table-box p{
  color: white;
}
.left-col,.right-col{
   padding: 8px 12px;
  font-weight: bold;
}
.left-col {
    border-right: 1px solid white;
}

.center-col {  
  padding: 8px 12px;
  font-weight: bold;
   border-right: 1px solid white;     
}
.center-col h3,.left-col h3,.right-col h3{
  color: white;
  font-size: 1rem;
}
.retry-btn{
        /* position: absolute;
    z-index: 8888; */
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
        width: 60%;
    background: #ff0000;
    color: #fff;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'poppins';
    font-weight: bold;
    margin-top: 0.5rem;
}
  
  
/* ===== POPUP OVERLAY ===== */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: none;                  /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

/* ===== POPUP BOX ===== */
.popup-box {
  background: #FEED01;
  padding: 25px 15px;
  width: 85%;
  max-width: 330px;
  border-radius: 20px;
  text-align: center;
  animation: popIn 0.3s ease;
}
.popup-box h3 {
  font-size: 1rem;
  }

@keyframes popIn {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.popup-btn {
     padding: 8px 25px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
  font-weight: 700;
}

.popup-btn.yes {
  background: #ff2f2f;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 0px 4.16px 4.16px 0px rgba(0, 0, 0, 0.35);

}

.popup-btn.no {
  background: #EAEAEA;
  color: #000;
    border: 2px solid #fff;
    box-shadow: 0px 4.16px 4.16px 0px rgba(0, 0, 0, 0.35);

}
 #ui-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        z-index: 9999;
        display: none;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        transition: opacity .3s ease;
        flex-direction: column;
      }
      .pp{
        color: white;

      }
      .scan-box{
            width: 70%;
    padding: 15px;
    border: 2px dashed rgba(255, 255, 255, 0.7);
      margin-bottom: 3dvh;
      }
.target-img{
  width: 70%;
    filter: brightness(0.5);
}
.background-image {
    display: none;
       background: linear-gradient(to bottom, #362564, #2787c9);
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 9999;
    justify-content: flex-start;
    align-items: center;
    /* margin-right: 12%; */
}


.background-image .experience-link {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    margin-left: 12%;
}
.background-image .experience-link .aashirvaad-center-logo {
    position: unset;
    margin: auto;
}

.logo-background-image {
    position: absolute;
    top: 0px;
    right: 0px;
}

@media only screen and (min-width: 768px) {
    .background-image {
        display: flex;
    }

    .main {
        display: none;
    }
}

.buttons-share-page{
   position: relative;
    height: 100dvh;
    width: 100vw;
    display: none;
    visibility: visible;
    opacity: 1;
     transition: all 500ms ease-in-out;
    z-index: 8;
}
.share-card{
     display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    gap: 10px;
    position: absolute;
    top: 70%;
    /* bottom: 0; */
    margin: auto;
    left: 0;
    right: 0;
}

.menu-card-heading{
  background-image: url('/assets/images/heading.png');  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:15dvh;
    margin-bottom: 10px;
        border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.comparison-card-heading{
  background-image: url('/assets/images/heading.png');  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:15dvh;
    margin-bottom: 10px;
        border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    color: white;
}
.comparison-card-heading h2,.comparison-card-heading span{
      color: white;
    font-size: 1.2rem;
    padding-top: 2dvh;
        width: 50%;
}
.instagram-btn{
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
        width: 80%;
    background: rgba(254, 237, 1, 1);
    color: rgba(127, 0, 20, 1);
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'poppins';
    font-weight: bold;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
        gap: 5px;
}
  .web-btn{
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
        width: 80%;
    background:rgba(226, 0, 26, 1);
    color: #fff;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'poppins';
    font-weight: bold;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
        gap: 5px;

}
  